<div class="container mb-5">
    <div class="row">
        <div class="col-md-6">
            <img src="..\assets\images\WhatsApp Image 2025-05-09 at 12.16.04 PM.jpeg" width="350" alt="Book Cover" title="Book Cover" class="img-fluid">
        </div>
        <div class="col-md-6">
            <div class="title">
                <h1 class="font-weight-bold font-italic pt-3 mb-3">अक्षरमुद्रा दिवाळी अंक</h1>
                <h4 class="text-success mb-3">वाचन संस्कृतीला वाहिलेला दिवाळी अंक..</h4>
                <h6 class="text-primary mb-3">अंक चौथा लवकरच...</h6>
                <p> 
                    <strong>संपादक :- प्रा. डॉ. दीपक चिद्दरवार.</strong>
                    <br>
                    <span>
                        श्रीराम निवास, समर्थ नगर , नळेगाव रोड, उदगीर, जि. लातूर.
                        <p>मो. ७७०९४२७७०७</p>
                    </span>
                    <button mat-raised-button color="accent" class="font-weight-bold" routerLink="/details">आणखी पाहा</button>
                </p>
            </div>
        </div>
    </div>
</div>