
<div class="bg-dark darkBg">
    <div class="container text-white p-4 text-center">
        <div class="row">
            <div class="col-md-6">
                <p> 
                    <strong>संपादक :-</strong>
                    <br>
                    <span> 
                        <p class="mb-0">दीपक चिद्दरवार. </p>
                    (मराठी विभाग प्रमुख)
                    महाराष्ट्र उदयगिरी महाविद्यालय, उदगीर जि. लातूर 
                    <p>संपर्क: ९४२१०९३१७७ / ७७०९४२७७०७</p>
                    </span>
                </p>
            </div>
            <div class="col-md-6">
                <p>
                <strong>संपादकीय सल्लागार :-</strong>
                <br>
                दत्ता भगत, नांदेड.
                </p>
            </div>
            <div class="col-md-6">
                <strong>संपादन सहाय्य :-</strong>
                <p class="mb-0">दिलीप फलटणकर, पुणे</p>
                <p>दिलीप देशपांडे, मुंबई</p>
            </div>
            <div class="col-md-6">
                <strong>मीडिया एक्झिक्युटिव्ह :-</strong>
                <p>रविप्रकाश कुलकर्णी, मुंबई</p>
            </div>
            <div class="col-md-6">
                <strong>मुखपृष्ठ :-</strong>
                <p> भा. मा. परसवाळे, हिंगोली</p>
            </div>
            <div class="col-md-6">
                <strong>रेखाटने :- </strong>
                <p>C.A. कु. ईशा दीपक चिद्दरवार</p>
            </div>
            <div class="col-md-6">
                <strong>मुद्रक व मांडणी :- </strong>
                <p>विनोद पाटील, उदगीर</p>
            </div>
            <div class="col-md-6 mb-5">
                <strong>मुद्रण :- </strong>
                <p>संगमेश्वर ऑफसेट, उदगीर</p>
            </div>
        </div>
    </div>
</div>