nav{
    box-shadow: gray -3px 20px 19px -13px;
    z-index: 2;
}

.active{
    background-color: darkred;
    border-radius: 5px;
    color: #fff !important;
    padding: 5px;
}

.active a{
    color: #fff !important;
}